section.repository-list {
  width: 600px;
  margin: 0 auto;

  h1 {
    margin-bottom: 16px;
    border-bottom: 1px solid rgba(68, 68, 68, 0.096);
  }

  ul {
    list-style: none;

    li {
      padding: 20px;
      border: 1px solid rgb(245, 245, 245);
      border-radius: 6px;

      &:hover {
        background-color: rgb(245, 245, 245);
      }

      & + li {
        margin-top: 20px;
      }

      p {
        font-size: 14px;
        color: #444;
        margin-top: 8px;
      }

      a {
        display: inline-block;
        margin-top: 6px;
        text-decoration: none;
        color: #b257e6;
      }
    }
  }
}
